/* Mentions légales */
#mentions {
    background-color: $nav-bg;
    width: $full-width;
    text-align: center;
    color: $nav-color;
    padding: 10px 0;
    &__date {
        margin-top: 5px;
        font-size: 0.8rem;
        color: $mention-date-clr;
    }
    &__content {
        margin: 30px 40px;
        font-size: 0.9rem;
        & h3 {
            margin-top: map-get($margin, section);
            margin-bottom: 15px;
            font-size: 1rem;
        }
    }
    &__redaction {
        margin-top: 20px;
        margin-bottom: map-get($margin, section);
    }
    &__footer {
        text-align: center;
        color: #000;
        padding-bottom: 20px;
        font-size: 0.9rem;
        & a {
            text-align: center;
            color: #000;
            padding-bottom: 20px;
            font-size: 0.9rem;
            text-decoration: underline;
        }
    }
}